body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #CCEBD3;
  margin: 40px;
}
nav {
  border-bottom: 1px solid black;
}

.crumbs ol {
  list-style-type: none;
  padding-left: 0;
}

.crumb {
  display: inline-block;
}

.crumb a::after {
  display: inline-block;
  color: black;
  content: ">";
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}
h1 {
  color: #057020;
  text-align: center;
  font-family: Papyrus;
  font-size: 90vw 40vh ;
}
article.intro {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}
h2 {
  color: #079C2C;
}

article.recette figure {
  background-color: #ABDEB7;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

article.recette h3 {
  color: #079C2C;
}

article.recette {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

article.recette ul,
article.recette ol {
  background-color: #ABDEB7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h3 {
  color: #079C2C;
}

h4 {
  color: #079C2C;
}
